 *{
        margin: 0px;
        padding:0px;
     text-align: center;
    
}

#mainmenu li{
    opacity: 0.7;
}
#mainmenu li:hover
{
    opacity: 1;}

         #container{
        border:1px solid #000; /* desenha uma borda preta */ 
        font-family: serif;}
       
     #footer{
    background-color: #1E90FF;

}
#footer p img{
    height: 50px;
    width: 100px;
}
#footer p{
    color: aliceblue;
}
    #mainmenu {
        background:#1E90FF; /* Define a cor de fundo do menu */
        padding: 3px 0px; /* define o espaçamento entre o texto e a borda do menu */
}
     #mainmenu ul li{
        list-style: none; /* Remove os bullets */
        display: inline; /* Posiciona os itens horizontalmentes na tela */
        padding: 0px 10px; /* define o espaçamento entre os itens do menu */
        border-right: 0.5px solid #fff ; /* Desenha a borda da direita */        
    }
        #mainmenu ul li a{
           text-decoration: none;
           color: #E0FFFF;
           font-size: 17px;
        }
         #topo h1{
        color:darkblue; /* Define a cor da fonte */
        font-size: 90px; /* Define o tamanho da fonte */
}
#footer img:hover{
            -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
#stopfloat{
    clear: both; 
}
